{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container mt-5 px-4 py-5" id="featured-3">
  <h1 class="mb-4">Our Team</h1>
  <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
    {% for member in members %}
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center mb-3 user-icon"
          style="font-size: 5.5rem"
        >
          <i class="fa-solid fa-user"></i>
        </div>
        <h3 class="fs-4 text-body-emphasis">{{ member.name }}</h3>
        <ul class="list-unstyled">
          <li><span class="fw-semibold">Computer Engineering</span></li>
          <li><span class="text-muted">{{ member.number }}</span></li>
        </ul>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
